<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.lbs">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:name=".LbsApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
          <!--cLF9k2ReVGOsoqt0xB9aZfqh1ILDne7C-->
        <!--kqiZQsab3XhYvwixqxI1I5xARnD57mHY-->
        <!--X8OUxgcZRv1c3SR9X6BmYLNvQ0tyIndj-->
        <!--uFFMkFvBj0zcnBFptosulyog7I4BIGBU-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uFFMkFvBj0zcnBFptosulyog7I4BIGBU"/>

        <activity android:name=".MainActivity">
         <intent-filter>
           <action android:name="android.intent.action.MAIN"/>
           <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
        </activity>

        <!--添加的app key-->
        <!-- android:value="cLF9k2ReVGOsoqt0xB9aZfqh1ILDne7C"-->



        <service android:name="com.baidu.location.f" android:enabled="true"
         android:process=":remote"/>
      </application>


</manifest>